/* position du bouton voir plus */
.bloque {
	margin-left: 260px;
	width: 700px;
}

.taille {
	margin-top: -45px;
}

/* Formulaire de publication */
.global-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.selecte {
	margin-top: 10px;
}
/* Fleches caroussel */
.prev,
.next {
	cursor: pointer;

	width: auto;
	padding: 16px;
	margin-top: -6spx;
	color: black;
	font-weight: bold;
	font-size: 25px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/*rgba(0,0,0,0.8) user-select: none;position: absolute; On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
select:hover {
	background-color: lightgrey;
}

nav .animation {
	margin-bottom: -10px;
	position: absolute;
	height: 4px;

	z-index: 0;
	background: skyblue;
	/*border-radius: 8px; #1abc9c*/
	transition: all 0.5s ease 0;
}
nav a {
	position: relative;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
	z-index: 1;
}
a:nth-child(1) {
	width: 100px;
}

a:nth-child(4) {
	width: 100px;
}
nav .start-home,
a:nth-child(4):hover ~ .animation {
	width: 70px;
	left: 380px;
}

a:nth-child(5) {
	width: 100px;
}
nav .start-home,
a:nth-child(5):hover ~ .animation {
	width: 70px;
	left: 470px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
	width: 50px;
	left: 120px;
}

a:nth-child(2) {
	width: 110px;
}
nav .start-home,
a:nth-child(2):hover ~ .animation {
	width: 100px;
	left: 185px;
}
a:nth-child(3) {
	width: 100px;
}
nav .start-home,
a:nth-child(3):hover ~ .animation {
	width: 70px;
	left: 300px;
}

#rech {
	width: 600px;
	height: 40px;
	border-radius: 20px;
	margin-left: 20px;
	box-shadow: 1px 1px 5px lightgray;
	border-style: inherit;
}
#connexion {
	margin-left: 200px;
}
#tout {
	color: black;
	margin-left: 125px;
}
#actu {
	color: black;
	margin-left: 20px;
}
#imag {
	color: black;
	margin-left: 20px;
}
#videos {
	color: black;
	margin-left: 20px;
}
#cartes {
	color: black;
	margin-left: 20px;
}

/* Corps à partir du carousel */

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 303px;
	border-radius: 10px;
}

div.gallery:hover {
	/*border: 1px solid #777;*/
	box-shadow: 2px 2px 8px lightgray;
}

div.gallery img {
	width: 298px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/*div.gallery img:hover {
	opacity: 1;
	box-shadow: inset 0 -10px 10px -10px blue;
  }*/

div.desc {
	padding: 15px;
	text-align: center;
	width: 300px;
	height: 60px;
}

.contenant {
	margin: 5px;

	background: url('images/Le poisson surfe sur les tendances de la nourriture saine.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant:hover .overlay {
	opacity: 1;
}
.contenant:hover .img_plus {
	opacity: 1;
}

.contenant1 {
	margin: 5px;

	background: url('images/Quelques astuces de publicitaires pour tricher avec la nourriture.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant1:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant1:hover .overlay {
	opacity: 1;
}
.contenant1:hover .img_plus {
	opacity: 1;
}

.contenant2 {
	margin: 5px;

	background: url('images/Nourriture épicée avantages et inconvénients.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant2:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant2:hover .overlay {
	opacity: 1;
}
.contenant2:hover .img_plus {
	opacity: 1;
}

.contenant3 {
	margin: 5px;

	background: url('images/Utiliser de la nourriture pour emballer de la nourriture.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant3:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant3:hover .overlay {
	opacity: 1;
}
.contenant3:hover .img_plus {
	opacity: 1;
}

.contenant4 {
	margin: 5px;

	background: url('images/Bon appétit - Nourriture - Crevettes - Citrons - Wallpaper - Free.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant4:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant4:hover .overlay {
	opacity: 1;
}
.contenant4:hover .img_plus {
	opacity: 1;
}

.contenant5 {
	margin: 5px;

	background: url('images/Délices culinaires - la nourriture asiatique en 80 photos délicieuses.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant5:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant5:hover .overlay {
	opacity: 1;
}
.contenant5:hover .img_plus {
	opacity: 1;
}

.contenant6 {
	margin: 5px;

	background: url('images/Gaspillage alimentaire  66 tonnes de nourriture jetées par seconde d.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant6:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant6:hover .overlay {
	opacity: 1;
}
.contenant6:hover .img_plus {
	opacity: 1;
}

.contenant7 {
	margin: 5px;

	background: url('images/J’ai mangé de la nourriture pour animaux - URBANIA.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant7:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant7:hover .overlay {
	opacity: 1;
}
.contenant7:hover .img_plus {
	opacity: 1;
}

.contenant8 {
	margin: 5px;

	background: url('images/J’ai mangé de la nourriture pour animaux - URBANIA_.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant8:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant8:hover .overlay {
	opacity: 1;
}
.contenant8:hover .img_plus {
	opacity: 1;
}

.contenant9 {
	margin: 5px;

	background: url('images/La nourriture bio, bonne pour la santé - Pieuvre.ca.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant9:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant9:hover .overlay {
	opacity: 1;
}
.contenant9:hover .img_plus {
	opacity: 1;
}

.contenant10 {
	margin: 5px;

	background: url('images/Nourriture déshydratée  Quels avantages - Devenir survialiste.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant10:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant10:hover .overlay {
	opacity: 1;
}
.contenant10:hover .img_plus {
	opacity: 1;
}

.contenant11 {
	margin: 5px;

	background: url('images/Nourriture poissons rouges Tetra Goldfish - Formule eau saine et claire.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant11:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant11:hover .overlay {
	opacity: 1;
}
.contenant11:hover .img_plus {
	opacity: 1;
}

.contenant12 {
	margin: 5px;

	background: url('images/Nourriture pour chinchilla Premium 12,5 Kg - Elevage - Ducatillon.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant12:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant12:hover .overlay {
	opacity: 1;
}
.contenant12:hover .img_plus {
	opacity: 1;
}

.contenant13 {
	margin: 5px;

	background: url("images/Nourriture poissons Zolux - Poissons d'ornement de Nourriture poisson.jpg")
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant13:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant13:hover .overlay {
	opacity: 1;
}
.contenant13:hover .img_plus {
	opacity: 1;
}

.contenant14 {
	margin: 5px;

	background: url('images/NRêve de Nourriture - La Voix des Rêves.jpg')
		no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant14:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant14:hover .overlay {
	opacity: 1;
}
.contenant14:hover .img_plus {
	opacity: 1;
}

.contenant15 {
	margin: 5px;

	background: url('images/Nourriture - Page 29.jpg') no-repeat;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0;
	margin-top: 0;
}
.contenant15:hover {
	opacity: 1;
	/*box-shadow: inset 10px 10px 10px blue;*/
	box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
}
.contenant15:hover .overlay {
	opacity: 1;
}
.contenant15:hover .img_plus {
	opacity: 1;
}

/* texte dans image */
.overlay {
	margin-left: 10px;
	margin-bottom: -10px;
	opacity: 0;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	vertical-align: text-bottom;
	font-size: 11px;
	float: left;
	text-align: left;
	margin-top: 205px;
}

/* la petite image sur l'image */
.img_plus {
	opacity: 0;
	transition: 0.5s ease;
	text-align: right;
	height: 40px;
	width: 40px;
}

#commentaire {
	/*border-style: solid;
	  border-color: lightgray;
	  border: solid 1px;
	  height: 30px;
	  width: 130px;
	  text-align: right;
	  float: right;*/
	background: #f2f2f2;
	border: 1px solid #999;
	bottom: 0;
	color: #36b;
	cursor: pointer;
	display: block;
	height: 28px;
	line-height: 28px;
	min-width: 110px;
	padding: 0 5px;
	position: fixed;
	right: 20px;
	text-align: center;
	z-index: 4;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 13px;
}
/*caroussel*/
.swiper {
	width: 100%;
	height: 20%;
}

.swiper-slide {
	font-size: 18px;
	background: #fff;
	margin: 5px;
	padding: 10px;
	display: flex;
	border-radius: 50px;
	border: 0.5px solid skyblue;
	width: 150px;
	height: 55px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/*fin caroussel*/

.div_text_scroll {
	font-size: 15px;
	width: 100px;
	height: 50px;
	margin-left: 6px;
	margin-bottom: -8px;
}
.img_scroll {
	width: 60px;
	height: 50px;
	border-radius: 50%;
	margin-left: 0;
}

head {
	min-width: 1000px;
}
body {
	min-width: 1000px;
}
